<p>НАЗВАНИЕ СПОРТА {{ sport.name }}</p>
<p>-----------------------------------------</p>
{% for d in view.discipline %}
<p>НАЗВАНИЕ ДИСЦИПЛИНЫ: {{ d.name }}</p>
<p>оПИСАНИЕ ДИСЦИПЛИНЫ {{ d.description }}</p>
{% endfor %}
<p>---------------------------------------------</p>
{% for p in view.progress %}
<p> ИМЯ СПОРТСМЕНА {{ p.athlete }}</p>
<p> ОПИСАНИЕ ДОСТИЖЕНИЙ {{ p.description }}</p>
<p> !!!!ДИСЦИПЛИНА!!! {{ p.discipline_progress }}</p>
<p>---------------------------------------------</p>
{% endfor %}

