<p>НАЗВАНИЕ СПОРТА {{ sport.name }}</p>
<p>-----------------------------------------</p>
{% for d in discipline %}
    <p>НАЗВАНИЕ ДИСЦИПЛИНЫ: {{ d.name }}</p>
    <p>ОПИСАНИЕ ДИСЦИПЛИНЫ {{ d.description }}</p>
    <p>ID {{ d.id }}</p>
        {% for pp in progress %}
            {% for p in pp %}
                <p> ИМЯ СПОРТСМЕНА {{ p.athlete }}</p>
                <p> ОПИСАНИЕ ДОСТИЖЕНИЙ {{ p.description }}</p>
                <p> !!!!ДИСЦИПЛИНА!!! {{ p.discipline_progress }}</p>
                <p>---------------------------------------------</p>
            {% endfor %}
        {% endfor %}
{% endfor %}
<p>---------------------------------------------</p>

